main {
  width: 100%;
  max-width: 640px;
  margin-inline: auto
}

input, label {
  display: block
}

label, button {
  margin-top: 20px;
}

hr {
  margin-top: 50px;
  margin-bottom: 50px
}

a {
  display: block
}