main {
  width: 100%;
  max-width: 640px;
  margin-inline: auto
}

ul {
  list-style-type: none;
  padding-left: 0
}

input, label {
  display: block
}

label, button {
  margin-top: 20px;
}

hr {
  margin-top: 50px;
  margin-bottom: 50px
}

button {
  display: inline-block;
  margin-right: 20px
}